.checkbox, .collapsible {
  width: 16px;
  height: 18px;
  cursor: pointer;
  float: left;
  padding:0;
  margin-left: 3px;
  background: url("checktree_icon.png") no-repeat;
  /*border-radius:5px;*/
}
.loading {
  width: 16px;
  height: 18px;
  cursor: pointer;
  float: left;
  padding:0;
  margin-left: 3px;
  background: url("loading.gif") no-repeat;
  background-position: 0 0px;
  /*border-radius:5px;*/
}
.unchecked { background-position: 0 -2px; }
.checked { background-position: -16px -2px; }
.mid-checked { background-position: -32px -2px; }
.exp { width: 14px; background-position: 0 -20px; }/* + */
.colap { width: 14px; background-position: -14px -20px; }/* - */
.root li { list-style:none; }
.root li ul {position:relative; top:10px; left: 50px; float:left; margin-bottom:25px;}
/*.niveles { display:none }*/