.checkbox, .collapsible {
  cursor: pointer;
  float: left;
  padding:0;
  margin: 3px;
  background: url("checktree_icon.png") no-repeat;
  border-radius:3px;
}
.checkbox{ width:12px; height:16px; }
.collapsible{ width:14px; height:18px; }
.loading {
  width: 16px;
  height: 18px;
  cursor: pointer;
  float: left;
  padding:0;
  margin: 3px;
  background: url("loading.gif") no-repeat;
  background-position: -2 -2px;
  /*border-radius:5px;*/
}
.jstreecont { border-radius: 15px;box-shadow:5px 3px 10px 3px #000;padding:25px;margin:auto;background-color:aliceblue/*seashell*/;color:#000/*firebrick*/;height:500px;overflow-y:scroll; }
.unchecked { background-position: -2px -2px; }
.checked { background-position: -18px -2px; }
.mid-checked { background-position: -34px -2px; }
.exp { background-position: 0 -20px; }/* + */
.colap { background-position: -14px -20px; }/* - */
.root { margin: 0; padding: 0 }
.root li { list-style:none; margin-bottom:5px; }
.root li ul {/*position:relative;*/top:50px; left: 10px; /*float:left;*/ }
.root a { padding: 0; margin-left: 1em; border-bottom: dotted #089bab 2px; }
/*.niveles { display:none }*/